.done {
   border: 1px green solid;
   color: green;
}

.done button {
   background: green;
   color: white
}

.done button:hover {
   background: darkgreen;
   color: white
}

li:not(.done) {
   cursor: pointer;
}

li:not(.done):hover, li:not(.done):focus {
   border: 1px solid black;
   background: #00000008
}

li:hover::after, li:focus::after {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: grey;
   font-size: .6em;
   width: 100%;
}

li:not(.done):hover::after, li:not(.done):focus::after {
   content: "Double tap to mark the item as Done";
}

li.done:hover::after, li.done:focus::after {
   content: "Task Already Done";
}

ul {
   padding-right: 10px;
}

@media screen and (max-width:600px) {
   li:hover::after, li:focus::after {
      top: initial;
      bottom: -5px;
   }

   ul {
      padding: 10px;
   }
}

li {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: min(20%, 20px);
   /* margin-right: 10px; */
}

li>span {
   align-self: right;
   margin: 10px;
}

input {
   font-size: 1em;
   padding: .2em;
   border-radius: 1vw;
}

input+p {
   font-size: .5em;
   color: grey;
   height: 1ch;
}